<!-- demo.html -->

{% extends "base.html" %}

{% block head %}
    {% load static %}
    <script src="{% static 'js/demo.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}

{% block content %}
<div class="content">
    <form id="search_form" action="{% url 'demo' %}" method="POST">
        {% csrf_token %}
        <ul class="form_ul">
            <li>
                <label class="label">Receptor</label>
                <label for="id_receptor" style="color:var(--on-container)">4UNN.pdbqt</label>
                <input type="hidden" name="receptor" value="4UNN.pdbqt">
            </li>
            <li>
                <label class="label">Method</label>
                <label for="method">Method</label>
                <ul class="select_ul" id="method_select">
                    <li class="select_li">Random</li>
                    <li class="select_li">Clustering</li>
                    <li class="select_li">MEMES</li>
                </ul>
                {% if method_error_message %}
                    <div class="error_message">
                        {{ method_error_message }}
                    </div>
                {% endif %}
                <select name="method" id="method">
                    <option value="Random">Random</option>
                    <option value="Clustering">Clustering</option>
                    <option value="MEMES">MEMES</option>
                </select>
                <span class="material-symbols-outlined" id="arrow_drop_down">arrow_drop_down</span>
            </li>
            <li class="sub-input">
                <ul class="radio_ul">
                    <li>
                        <input type='radio' name="representation" id="fp" value="Fingerprint">
                        <label for="fp" class="label">Fingerprint</label>
                    </li>
                    <li>
                        <input type='radio' name="representation" id="mol2vec" value="Mol2vec">
                        <label for="mol2vec" class="label">Mol2vec</label>
                    </li>
                </ul> 
            </li>
            <li class="sub-input">
                <label for="af">Acquisition Function</label>
                <ul class="select_ul" id="af_select">
                    <li class="select_li">EI</li>
                    <li class="select_li">PI</li>
                    <li class="select_li">UCB</li>
                    <li class="select_li">Greedy</li>
                    <li class="select_li">HAF</li>
                    <li class="select_li">EBAF</li>
                </ul> 
                <select name="af" id="af">
                    <option value="EI">EI</option>
                    <option value="PI">PI</option>
                    <option value="UCB">UCB</option>
                    <option value="Greedy">Greedy</option>
                    <option value="HAF">HAF</option>
                    <option value="EBAF">EBAF</option>
                </select>  
                <span class="material-symbols-outlined" id="arrow_drop_down">arrow_drop_down</span>            
            </li>
            <li class="submit_li"><input class="submit_btn" type="submit" value="Search"></li>
        </ul>
    </form>   
</div>
{% endblock content %}
