.ligand_ul {
    width: 60%;
    max-width: 500px;
    margin-top: 5px;
}

.ligand_ul > li {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.ligand_ul > li > div {
    padding:  7px 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    border: 1px solid var(--green);
}

.ligand_ul > li > div:nth-child(1) {
    flex: 0.3;
    background-color: var(--green);
    color: var(--on-green);
    border-radius: 10px 0 0 10px;
    justify-content: center;
}

.ligand_ul .ligand-info {
    flex: 0.7;
    border-radius: 0 10px 10px 0;
    justify-content: flex-end;
    position: relative;
}

.ligand_ul .ligand-info > div:nth-child(1) {
    position: absolute;
    bottom: 100%;
    transform: translateY(50%);
    left: 10px;
    font-size: 12px;
    background-color: var(--background);
    padding: 0 5px;
}

.ligand_ul .ligand-info > div:nth-child(2) {
    flex: 1;
}

.ligand_ul > li .material-symbols-outlined {
    color: var(--on-background);
}

.ligand_ul > li .material-symbols-outlined:hover {
    background-color: var(--hover);
    border-radius: 12px;
}


@media screen and (max-width: 700px) {
    .ligand_ul > li > div:nth-child(1) {
        max-width: 30%;
    }

    .ligand_ul .ligand-info {
        max-width: 70%;
    }

    .ligand_ul .ligand-info > div:nth-child(1) {
        display: none;
    }

    .ligand_ul .ligand-info > div:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;
    }

}